<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="FILE_APPENDER"
                class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.home}/csspslogs/cssps.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/>
        </layout>
    </appender>
     
   <category name="com.gitbhub.gdc">
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </category>
    <category name="org.springframework">
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </category>
    <root>
        <priority value ="INFO" />
        <appender-ref ref="CONSOLE" />
    </root>
      
</log4j:configuration>
